<!DOCTYPE html>

<title>New PaieEmploye</title>

{% block body %}
    <h1>Create new PaieEmploye</h1>

    {{ include('paie_employe/_form.html.twig') }}

    <a href="{{ path('app_paie_employe_index') }}">back to list</a>
{% endblock %}
