<form method="post" action="{{ path('app_paie_delete', {'id': paie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paie.id) }}">
    <button class="btn">Delete</button>
</form>
