{% extends 'components/layout/default.html.twig' %}

{% block content %}
    <div class="flex justify-center items-center min-h-screen bg-gradient-to-t from-[#c39be3] to-[#f2eafa]">
        <div class="text-center p-5 font-semibold">
            <h2 class="text-[50px] md:text-[80px] leading-none mb-8 font-bold">Error 401</h2>
            <h4 class="mb-5 font-semibold text-xl sm:text-5xl text-danger">Ooops!</h4>
            <p class="text-base">You are not authorized!</p>
            <a href="/" class="btn btn-primary mt-10 w-max mx-auto">Home</a>
        </div>
    </div>
{#    <img class="w-8 ml-[5px] flex-none" src="{{ asset('assets/images/401-response.png') }}"#}

{% endblock %}