<!DOCTYPE html>

<title>New ProduitVendu</title>

{% block body %}
    <h1>Create new ProduitVendu</h1>

    {{ include('produit_vendu/_form.html.twig') }}

    <a href="{{ path('app_produit_vendu_index') }}">back to list</a>
{% endblock %}
